[Unit]
Description=simplebackup
Wants=simplebackup.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/simplebackup /etc/simplebackup.conf

IOSchedulingPriority=6
CPUSchedulingPolicy=batch
CPUQuota=90%
Nice=16

[Install]
WantedBy=multi-user.target
