[Unit]
Description=Create a simple system backup
Documentation=man:simplebackup(1) man:simplebackup.conf(5)

[Service]
Type=oneshot
ExecStart=/usr/bin/simplebackup /etc/simplebackup.conf

IOSchedulingPriority=6
CPUSchedulingPolicy=batch
Nice=16
